.heroSection {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.heroImg {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    z-index: 1;
}

.slogan {
    position: absolute;
    z-index: 2;
}

.sloganDetail {
    position: absolute;
    z-index: 2;
}

.heroSection a {
    position: absolute;
    z-index: 2;
    border-radius: 48px;
    color: #0f4c5c;
    padding: 13px 16px
  }