.hideSection {
    display: none;
}

.heroImg{
    display: none;

}

.heroSection {
    position: relative;
    height: 640px;
}

.heroImgMobile {
    position: absolute;
    object-fit:fill;
    width: 100%;
    border-radius:0 0 60px 0;
    z-index: -1;
}

.heroContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 269px;
    height: 310px;
    color: #ffff;
    top: 245px;
    left: 25px;
    
}

.slogan {
    font-family: 'Zilla Slab';
    font-weight: bold;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)
}

.sloganDetail {
    font-family: 'Open Sans', sans-serif;
}


@media(min-width: 600px) {
    .heroImgMobile{
        display: none;
        
    }
    .heroSection { 
        height: max-content;
    }
    .heroImg{
        display: block;
        object-fit: fill;
    }
    .heroContent{
        width: 511px;
        height: 310px;
        color: #ffff;
        top: 115px;
        left: 84px;
        
    }
    .slogan {
        font-size: 54px;
    }
    .sloganDetail {
        font-size: 20px;
    }
}

