.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.logoContent{
  display: flex;
  flex-direction: column;
}

.linksWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.linkNoCta {
  color: #0f4c5c;
}
.linkNoCta:hover {
  color: #787878;
}

.linkCta {
  border-radius: 48px;
  padding: 13px 16px;
  color: #ffff;
  background-color: #e36414;  
  display: inline-flex
}

.linkCta img {
  width: 20px;
  height: auto; 
  margin-right: 10px;
  align-content: center;
  filter:invert()
}
