.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  margin: 20px;
}

.logoContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
  height: 32px;
  width: 113px;
}

.logo{  
  height: auto;
  object-fit: fill;
}

.logoText{  
  height: auto;
  object-fit: contain
}

.navbarIcons {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentCTAMobile {
  height: 32px;
  width: 32px;
  border-radius: 48px;
  color: #ffff;
  background-color: #e36414;  
  display: inline-flex;
  align-self: center;  
}

.heartIcon{
  padding: 8px;
  object-fit: contain;
  filter: invert(1) brightness(2);
} 

.menuOpen {
  display:flex;  
  flex-direction: column;
  justify-content:baseline;
  align-items: center;
  margin: 25px;
  height: 100vh;
}

.linksWrapper{
  display: none;
}

.linkNoCta {
  display: inline-flex;
  color: #0f4c5c;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;

}

.linkNoCta img {
  width: 20px;
  height: auto; 
  align-content: center;
}

.linkNoCta:hover {
  color: #787878;
}

.linkCta {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  border-radius: 48px;
  color: #ffff;
  background-color: #e36414;  
  height: 42px;
}

.linkCta img {
  height: 24px;
  align-self: center;
  filter:invert()
}
.menuButton {
  display: block;
  height: 24px;
}



@media(min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    background-color: #ffff;
  }
  
  .logoContent{
    width: 110px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo, .logoText{
  
    width: 100%;
    height: auto;
  
  }
  
  
  .linksWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .linksWrapper a {
    white-space: nowrap; 
  }
  
  .linkNoCta {
    display: inline-flex;
    color: #0f4c5c;
  }
  
  .linkNoCta img {
    width: 20px;
    height: auto; 
    margin-right: 10px;
    align-content: center;
  }
  
  .linkNoCta:hover {
    color: #787878;
  }
  
  .linkCta {
    border-radius: 48px;
    padding: 13px 16px;
    color: #ffff;
    background-color: #e36414;  
    display: inline-flex;
    margin-right: 3%;
  }
  
  .linkCta img {
    width: 20px;
    height: auto; 
    margin-right: 10px;
    align-content: center;
    filter:invert()
  }
  
  .menuButton{
    display: none;
    background: transparent;
    border: none;
    font-size: 30px;
  }
  
  .contentCTAMobile {
display: none;
  }
  
  .heartIcon{
    display: none;
    padding: 5px;
    width: 32px;
    height: 32px;
    filter: invert(1) brightness(2);
  
  }
}

